.container{
  width: 300px;;
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  overflow: hidden;
  margin: 20px;
  font-family: Polysans, sans-serif;
}

.image{
  max-width: 100%;
  height: auto;
}

.content{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.title{
  font-size: 1em;
  font-weight: 600;
  color: #393e46;
}

.btnContainer{
  display: flex;
  justify-content: center;
  margin: 10px;
}

.button{
  border: none;
  background-color: #29bb89;
  color: white;
  padding: 8px 16px;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
}